/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '/assets/styles/utils';

html {
  body {
    margin: 0;
    padding: 0;

    .wrap {
      padding: 24px;
      mat-card{
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.08), 0 2px 2px 0 rgba(0,0,0,0.16);
      }
    }
  }
}


@media screen and (max-width: 600px) {
  html {
    body {
      .wrap {
        padding: 8px;
      }
    }
  }
}
